<script src="./js/ScreenLayout/Navigation.js" defer></script>

<!-- sidebar -->
<div class="sidebar">

  <!-- nav_list -->
  <ul class="nav_list">
    <li class="menu" data-title="대쉬보드">
      <a href="#">
        <span class="no">D</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li class="menu" data-title="센서 데이터 현황">
      <a href="#">
        <span class="no">1</span>
      </a>
      <span class="tooltip">센서 데이터 현황</span>
    </li>
    <li class="menu" data-title="센서 데이터 선택">
      <a href="#">
        <span class="no">2</span>
      </a>
      <span class="tooltip">센서 데이터 선택</span>
    </li>
    <li class="menu" data-title="데이터 탐험">
      <a href="#">
        <span class="no">3</span>
      </a>
      <span class="tooltip">데이터 탐험</span>
    </li>
    <li class="menu" data-title="데이터 로딩 & 프리뷰">
      <a href="#">
        <span class="no">4</span>
      </a>
      <span class="tooltip">데이터 로딩 & 프리뷰</span>
    </li>
    <li class="menu" data-title="상관관계 시각화">
      <a href="#">
        <span class="no">5</span>
      </a>
      <span class="tooltip">상관관계 시각화</span>
    </li>
    <li class="menu" data-title="데이터 전처리">
      <a href="#">
        <span class="no">6</span>
      </a>
      <span class="tooltip">데이터 전처리</span>
    </li>
    <li class="menu" data-title="시계열 데이터 분해">
      <a href="#">
        <span class="no">7</span>
      </a>
      <span class="tooltip">시계열 데이터 분해</span>
    </li>
    <li class="menu" data-title="시계열 정상성 검사 및 변환">
      <a href="#">
        <span class="no">8</span>
      </a>
      <span class="tooltip">시계열 정상성 검사 및 변환</span>
    </li>
    <li class="menu" data-title="단변수 예측">
      <a href="#">
        <span class="no">9</span>
      </a>
      <span class="tooltip">단변수 예측</span>
    </li>
    <li class="menu" data-title="다변수 예측">
      <a href="#">
        <span class="no">10</span>
      </a>
      <span class="tooltip">다변수 예측</span>
    </li>
    <li class="menu" data-title="시계열 예측 분석 (수치 메트릭)">
      <a href="#">
        <span class="no">11</span>
      </a>
      <span class="tooltip">시계열 예측 분석 (수치 메트릭)</span>
    </li>
    <li class="menu" data-title="시계열 예측 분석 (차트)">
      <a href="#">
        <span class="no">12</span>
      </a>
      <span class="tooltip">시계열 예측 분석 (차트)</span>
    </li>
  </ul>
  <!--// nav_list -->

  <div class="rightbar">
    <div class="title-wrapper">
      <input type="text" class="title"></input>
    </div>

    <!-- 데이터 탐험 -->
    <div class="item three">
      <div class="">Pandas Profiler</div>
      <div class="">Sweetviz</div>
    </div>

    <!-- 시계열 데이터 분해 -->
    <!-- <div class="seven">
      <div class="">Pandas Profiler</div>
      <div class="">Sweetviz</div>
    </div> -->

    <!-- 시계열 정상성 검사 및 변환 -->
    <!-- <div class="eight">
      <div class="">Pandas Profiler</div>
      <div class="">Sweetviz</div>
    </div> -->

    <!-- 단변수 예측 -->
    <!-- <div class="nine">
      <div class="">Pandas Profiler</div>
      <div class="">Sweetviz</div>
    </div> -->

    <!-- 다변수 예측 -->
    <!-- <div class="ten">
      <div class="">Pandas Profiler</div>
      <div class="">Sweetviz</div>
    </div> -->

    <div class="close">
      <i class="las la-angle-left"></i>
    </div>

  </div>

</div>
<!--// sidebar -->